/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Contacts
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Sidebar .Contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: calc(100vh - 150px);
  overflow-y: auto;
  overflow-x: hidden;
}
@media (max-width: 776px) {
  .Sidebar .Contacts {
    height: calc(100vh - 235px);
  }
  .Sidebar.active .Contacts {
    height: calc(100vh - 150px);
  }
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Contacts box
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Sidebar .Contacts .box {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  transition: var(--main-transition);
  border-radius: 5px;
  background-color: var(--main-chat-color);
}
@media (max-width: 776px) {
  .Sidebar .Contacts .box {
    padding: 5px;
    justify-content: center;
  }
  .Sidebar.active .Contacts .box {
    padding: 10px;
    justify-content: flex-start;
  }
}

.Sidebar .Contacts .box.active,
.Sidebar .Contacts .box:hover {
  position: relative;
  background-color: var(--main-alt-color);
}
.Sidebar .Contacts .box .img-box {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--image-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-weight: bold;
  transition: var(--main-transition);
}
.Sidebar .Contacts .box.active .img-box,
.Sidebar .Contacts .box:hover .img-box {
  background-color: var(--white-color);
  color: var(--main-color);
}
.Sidebar .Contacts .box .img-box img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.Sidebar .Contacts .box h5 {
  position: relative;
  font-size: 15px;
  font-weight: 400;
  transition: var(--main-transition);
  color: var(--dark-color);
}
.Sidebar .Contacts .box.active h5,
.Sidebar .Contacts .box:hover h5 {
  color: var(--white-color);
}
@media (max-width: 776px) {
  .Sidebar .Contacts .box h5 {
    display: none;
  }
  .Sidebar.active .Contacts .box h5 {
    display: block;
  }
}
