/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Login
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Login {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url("./../../../Image/blob_microsoft.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Login conatiner
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Login .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Login card
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Login .card {
  position: relative;
  width: 350px;
  background-color: var(--white-color);
  border-radius: 0.2em;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: var(--main-box-shadow);
  transition: var(--main-transition);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Login card header
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Login .card .header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 0;
}
.Login .card .header h1 {
  position: relative;
  font-size: 35px;
  margin: 0;
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--dark-color);
}
.Login .card .header h1 img {
  position: relative;
  width: 35px;
  height: 35px;
}
.Login .card .header p {
  font-size: 12px;
  position: relative;
  text-align: center;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Login card input box
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Login .card .input-box {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background-color: var(--primary-bg-color);
}
.Login .card .input-box input {
  position: relative;
  width: 100%;
  border: 0;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: transparent;
}
.Login .card .input-box label {
  position: relative;
  transition: var(--main-transition);
  padding: 10px;
  color: var(--dark-color);
}
.Login .card .input-box input:focus + label {
  color: #000;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Login card input box button
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Login .card .input-button {
  position: relative;
  width: 100%;
}
.Login .card .input-button button {
  position: relative;
  width: 100%;
  padding: 6px;
  margin-top: 15px;
  border: 0;
  color: var(--white-color);
  box-shadow: var(--blue-box-shadow);
  cursor: pointer;
  opacity: 1;
  transition: var(--main-transition);
  background: linear-gradient(
    90deg,
    rgba(145, 0, 255, 1) 0%,
    rgba(255, 7, 212, 1) 100%
  );
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Login card or-other-login
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Login .card .or-other-login {
  position: relative;
  width: 100%;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.Login .card .or-other-login::before {
  position: absolute;
  content: "";
  width: 33%;
  height: 1px;
  left: 0;
  background-color: var(--main-p-color);
}

.Login .card .or-other-login::after {
  position: absolute;
  content: "";
  width: 33%;
  height: 1px;
  right: 0;
  background-color: var(--main-p-color);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Login card input-other-options
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Login .card .input-other-options {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
.Login .card .input-other-options i {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-p-color);
  cursor: pointer;
  transition: var(--main-transition);
}
.Login .card .input-other-options i:hover {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
.Login .card .Link_page {
  position: relative;
  font-size: 12px;
  transition: var(--main-transition);
  align-self: center;
}
