/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
 # ChatUserInfo 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ChatUserInfo {
  padding: 20px 10px 20px 30px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  height: 77px;
  width: 100%;
  border-bottom: 1px solid var(--white-color);
}
.ChatUserInfo h1 {
  color: var(--main-p-color);
  font-size: 20px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
 # img-box 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ChatUserInfo .img-box {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--main-p-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-weight: bold;
}
.ChatUserInfo .img-box img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
