.Auth {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("../../Image/blob_microsoft.svg");
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}
.Auth .content {
  position: relative;
  width: 100%;
}
