/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Sidebar
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 300px;
  max-width: 300px;
  transition: var(--main-transition);
  padding: 10px 15px;
  backdrop-filter: blur(50px);
}
.Sidebar .MENUHandlear {
  position: relative;
  color: var(--white-color);
  backdrop-filter: blur(50px);
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--main-transition);
}
@media (max-width: 776px) {
  .Sidebar .MENUHandlear {
    display: flex;
  }
  .Sidebar {
    min-width: 60px;
    max-width: 60px;
    padding: 5px;
  }
  .Sidebar.active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    min-width: 300px;
    max-width: 300px;
    padding: 10px 15px;
  }
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Sidebar head 
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Sidebar .head {
  position: relative;
  width: 100%;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  transition: var(--main-transition);
}
.Sidebar .head .actions {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--white-color);
  gap: 10px;
  transition: var(--main-transition);
}
@media (max-width: 776px) {
  .Sidebar .head {
    flex-direction: column;
    align-items: center;
    height: 116px;
  }
  .Sidebar.active .head {
    flex-direction: row;
    align-items: center;
    height: 77px;
  }
  .Sidebar .head .actions {
    display: none;
  }
  .Sidebar.active .head .actions {
    display: flex;
  }
}

.Sidebar .head .actions input {
  position: relative;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: var(--white-color);
  width: 100%;
  font-size: 16px;
}
.Sidebar .head a {
  position: relative;
  cursor: pointer;
  color: var(--white-color);
  font-size: 17px;
  transition: var(--main-transition);
}
.Sidebar .head a:hover,
.Sidebar .head a.active {
  color: var(--main-color);
}
